footer {
    background-color: #634E42;
    color: white;
    padding: 3rem 5rem 1rem;
}

.footer-content {
    display: flex;
    gap: 10rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.footer-section h4 {
    font-weight: bold;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    width: fit-content;
    border-bottom: .2rem solid #936037;
}


.footer-section ul li {
    margin-bottom: .8rem;
}

.footer-section ul li a {
    color: #bdc3c7;
    font-weight: bold;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #CA9E67;
}

.social-icons {
    display: flex;
    gap: 1rem;
}

.social-icons a {
    width: 3rem;
    height: 3em;
    border-radius: 50%;
    background-color: #866a5b;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: background-color 0.3s;
}

.social-icons a:hover {
    background-color: #CA9E67;
}

.copyright {
    font-weight: bold;
    text-align: center;
    padding-top: 2rem;
    border-top: 1px solid #936037;
    color: white;
}
